*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}



body {
    font-family: Arial, sans-serif;
}

/* Estilo para o cabeçalho */
header {
    color: black;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 70px;
}



nav ul {
    list-style-type: none;
    padding: 0;
    transform: translateY(-80%);
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    float: right;
    text-align: right;
    padding: 5px;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

.secao_botao {
    line-height: 100px;
}

/* Estilo para a seção de perfil */

.perfil {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.perfil-img img {
    float: left;
    margin-right: 10px;
    width: 265px;
    height: 265px;
}



/* Estilo para a linha da seção */
.linha-secao {
    border: none;
    border-top: 1px solid black;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* Estilo para os botoes */
.botoes-contato {
    text-align: center;
}

/* Estilo para o botão secundário */
.btn.btn-secondary {
    background-color: cornflowerblue;
}

/* Estilo para seção 2, os cards de repositórios */

.card-img-1{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.card-img-2{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-img-3{
    width: 100%;
    height: 200px;
    object-fit: cover;
}


/* Estilo para seção 3, slides/conteudo sugerido */

.img-slide1{
    width: 100%;
}

.img-slide2{
    width: 100%;
}

.img-slide3{
    width: 100%;
}

.img-slide4{
    width: 100%;
}

.img-slide5{
    width: 100%;
}